<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>10songsthat</title>
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>

    <!-- HEADER -->
    <header>
      <h1>10songsthat</h1>
      <nav>
        <ul>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </nav>
    </header>
    
    <!-- PAGE -->
    <section>
      {% block content %}{% endblock %}
    </section>

    <!-- FOOTER -->
    <footer>
      &copy; Tibalte
    </footer>
  </body>
</html>