{% extends '../layout.html' %}

{% block content %}

  <h2>{{ __('user-login-title') }}</h2>

  <form action="/login">
  
    <label for="username">{{ __('user-login-username') }}</label>
    <input type="text" name="username" id="username" required>
    
    <label for="password">{{ __('user-login-password') }}</label>
    <input type="password" name="password" id="password" required>

    <input type="submit" value="{{ __('user-login-submit') }}">
  </form>

  <a href="/register" title="{{ __('user-login-link') }}">{{ __('user-login-link')}}</a>
  
{% endblock %}